:root
    --dark: #2B2B2B
    --dark-light: #3B3B3B
    --dark-light-2: #565656
    --dark-light-3: #5E5E5E
    --dark-light-4: #747474
    --white: #FFFFFF
    --light: #E1E2D9
    --secondary-color: #776262
    --primary-color: #787A69
    --contrast: #dff7a6
    //Font size
    --text-size-regular: 1rem
    --text-size-m: 2rem
    --text-size-x: 4rem
    --text-size-xm: 3rem
    --text-size-xl: 7rem
    //paddings

@media screen and (max-width: 590px)
    :root
        --text-size-regular: 1rem
        --text-size-m: 1.65rem
        --text-size-x: 2rem
        --text-size-xm: 3rem
        --text-size-xl: 4rem

@media screen and (max-width: 300px)
    :root
        --text-size-regular: 1rem
        --text-size-m: 1.65rem
        --text-size-x: 2rem
        --text-size-xm: 3rem
        --text-size-xl: 3rem
*
    margin: 0
    padding: 0
    border: 0
    flex-wrap: wrap
    font-family: "Alegreya Sans", sans-serif

body
    max-width: 100vw
    overflow-x: hidden

.line
    width: calc( 100vw - 6px - 2rem)
    height: 2px
    background: #ddd
    box-sizing: border-box
.break
    margin: 4rem auto

*::-webkit-scrollbar
    width: 6px
    height: 6px

*::-webkit-scrollbar-track
    background-color: var(--light)

*::-webkit-scrollbar-thumb
    background: var(--primary-color)
    border-radius: 20px

.icon
    display: inline-block
    width: 1em
    height: 1em
    background-color: currentColor
    -webkit-mask-image: var(--svg)
    mask-image: var(--svg)
    -webkit-mask-repeat: no-repeat
    mask-repeat: no-repeat
    -webkit-mask-size: 100% 100%
    mask-size: 100% 100%

    &.--phone
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M18.118 14.702L14 15.5c-2.782-1.396-4.5-3-5.5-5.5l.77-4.13L7.815 2H4.064c-1.128 0-2.016.932-1.847 2.047c.42 2.783 1.66 7.83 5.283 11.453c3.805 3.805 9.286 5.456 12.302 6.113c1.165.253 2.198-.655 2.198-1.848v-3.584z'/%3E%3C/svg%3E")

    &.--map
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath d='M20 10c0 4.418-8 12-8 12s-8-7.582-8-12a8 8 0 1 1 16 0Z'/%3E%3Cpath fill='black' stroke-linecap='round' stroke-linejoin='round' d='M12 11a1 1 0 1 0 0-2a1 1 0 0 0 0 2'/%3E%3C/g%3E%3C/svg%3E")

    &.--mail
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m7 9l5 3.5L17 9'/%3E%3Cpath d='M2 17V7a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2Z'/%3E%3C/g%3E%3C/svg%3E")

    &.--like
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M5 9v12H1V9zm4 12a2 2 0 0 1-2-2V9c0-.55.22-1.05.59-1.41L14.17 1l1.06 1.06c.27.27.44.64.44 1.05l-.03.32L14.69 8H21a2 2 0 0 1 2 2v2c0 .26-.05.5-.14.73l-3.02 7.05C19.54 20.5 18.83 21 18 21zm0-2h9.03L21 12v-2h-8.79l1.13-5.32L9 9.03z'/%3E%3C/svg%3E")

@import ./sass/header
@import ./sass/background
@import ./sass/middle-text
@import ./sass/developent-of-experiences
@import ./sass/vertical-target
@import ./sass/carousel
@import ./sass/text-center
